<%- include("./component/header.ejs") %>
<div class="p-3 mb-2 bg-dark text-white">

<div class="container mt-5">
    <form action="/update/todo" method="post" class="d-flex">
        <div class="form-group">
        <label for="exampleInputtodo"> Nouvelles Taches</label>
        <input type="text" name=newTodo class="form-control" placeholder="Todo à update"> 
    </div>
        <div class="form-group">
        <label for="exampleInputtodo">Ancienne Taches</label>
        <input type="text" name="todo" class="form-control" placeholder="New Todo"> 
    </div>
        <div class="form-group">
        <label for="exampleInputtodo">Qui</label>
        <input type="text" name="username" class="form-control" placeholder="Who is it ?"> 
        </div>
        <div class="form-group">
        <label for="exampleInputtodo">Quand</label>
    <input type="date" id="time" name="date" class="form-control"
   value=""
   min="2023-01-01" max="2025-12-31">
</div>
    <input type="submit" value="Update Todo" class="btn btn-md btn-primary mx-2">
</form>
<ul class="list-group my-5">
    
    <li class="list-group-item">
        <h5>Quelle To Do modifier ?</h5>
        <% todo.forEach(todos => { %>
            <li class="list-group-item">
                
                To Do: <%= todos.todo %> <br> 
                
                Name: <%= todos.username %>  <br>
                
                Date: <%= todos.date %>  <br>
            
                <% }) %>
    
            </div>

</div>

